html, body {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background-color: #d7cec7; 
    background-image: url(./assets/background-bw.jpg);
    background-attachment: fixed;
    background-position: bottom left; 
    background-repeat: no-repeat; background-size: cover;
  }